<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">

        <h5 class="card-title">Listado de clientes</h5>

        <div>
            <button class="btn btn-primary" type="button" [routerLink]="['/clientes/form']">Crear</button>
        </div>

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>CreateAt</th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </tbody>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido | uppercase }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                    <td>
                        <button class="btn btn-primary" [routerLink]="['/clientes/form', cliente.id]">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="delete(cliente)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>